body {
  background: url("../images/hotel2.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.container {
  text-align: center; }
  .container h1 {
    margin: 5% 0;
    font-size: 5vw;
    color: #FFE4E1; }
  .container .select-label {
    color: white; }
  .container .filtered-reservations {
    justify-content: center;
    display: flex;
    flex-wrap: wrap; }
    .container .filtered-reservations .reservation {
      background-color: #FFE4E1;
      border-radius: 30px;
      margin: 3%;
      padding: 2%;
      height: 100%;
      min-width: 200px; }
      .container .filtered-reservations .reservation button,
      .container .filtered-reservations .reservation .text {
        float: left;
        display: inline-block; }
      .container .filtered-reservations .reservation button {
        float: right;
        border-color: red; }
        .container .filtered-reservations .reservation button a {
          color: red; }
  .container .details .details-background {
    background-color: rgba(255, 255, 255, 0.8); }
  .container .details .details-content {
    position: absolute;
    padding: 20px;
    top: 10vw;
    left: 0;
    font-size: 1.5em;
    line-height: 60px;
    width: 100%; }
    .container .details .details-content .fees {
      -webkit-padding-start: 0px;
      list-style: none; }
  .container .back-button a {
    color: white; }
  .container .currency-dropdown {
    margin-top: 30px; }
  .container .not-found {
    margin: 10% 0; }
    .container .not-found .not-found-page-image {
      background-image: url("../images/404.gif");
      height: 65vh;
      background-size: 100%;
      border-radius: 100px;
      border: 20px solid #FFE4E1; }
